.App{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-family: 'Montserrat', sans-serif;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.drum-pad {
  border-radius: 0.25rem;
  border: 4px solid black ;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #301E67;
  color: white;
}
